# Local environment variables
# Copy this file to .env.development.local and comment/uncomment the following lines to test against a local deploymentf
VITE_BACKEND_URL=http://localhost:8080
VITE_AUTOCOMPLETE_URL=http://localhost:8082
VITE_IMPORTER_URL=http://localhost:8083
